<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control is-invalid"
            [ngClass]="{'is-invalid': f.tema.errors && f.tema.touched}"
            formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors ?.required && f.tema.touched" class="invalid-feedback">O tema é obrigatório.</div>
          <div *ngIf="f.tema.errors ?.minlength && f.tema.touched" class="invalid-feedback">O campo Tema deve ter no mínimo 4 caracteres.</div>
          <div *ngIf="f.tema.errors ?.maxlength && f.tema.touched" class="invalid-feedback">O campo Tema deve ter no máximo 50 caracteres.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text"
            [ngClass]="{'is-invalid': f.local.errors && f.local.touched}"
            class="form-control is-invalid" formControlName="local" placeholder="Local">
          <div *ngIf="f.local.errors ?.required && f.local.touched" class="invalid-feedback">O local é obrigatório.</div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime"
            [ngClass]="{'is-invalid': f.dataEvento.errors && f.dataEvento.touched}"
            class="form-control is-invalid" formControlName="dataEvento" placeholder="">
          <div *ngIf="f.dataEvento.errors?.required && f.dataEvento.touched" class="invalid-feedback">A data é obrigatório.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="number"
            [ngClass]="{'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched}"
            class="form-control is-invalid" formControlName="qtdPessoas" placeholder="">
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">A quantidade de pessoas é obrigatório.</div>
          <div *ngIf="f.qtdPessoas.errors?.max && f.qtdPessoas.touched" class="invalid-feedback">A quantidade máxima de pessoas é 500.</div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input type="text"
            [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}"
            class="form-control is-invalid" formControlName="telefone" placeholder="(000) 90000-0000">
          <div *ngIf="f.telefone.errors?.required && f.telefone.touched" class="invalid-feedback">O telefone é obrigatório.</div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input type="text"
            [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
            class="form-control is-invalid" formControlName="email" placeholder="e-mail">
          <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">O e-mail é obrigatório.</div>
          <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">O e-mail tem que ser válido. Exemplo: fulano@gmail.com.</div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text"
            [ngClass]="{'is-invalid': f.imagemURL.errors && f.imagemURL.touched}"
            class="form-control is-invalid" formControlName="imagemURL" placeholder="imagem">
          <div *ngIf="f.imagemURL.errors?.required && f.imagemURL.touched" class="invalid-feedback">A imagem é obrigatório.</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
